.date-title {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
}

.star-reviews-font {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.review-para {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.review-giver {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
