.font-hatton {
  font-family: "Hatton";
}

.scandinavia-para {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.title {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
  /* font-size: 32px; */
  font-size: calc(12px + 1.5vw);
  line-height: 40px;
}

.btn-font {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
