.font-hatton {
  font-family: "Hatton";
}

.font-mulish {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
}

.title {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
}
