.font-hatton {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
}

.font-mulish {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
}

.volant-diffuser-font {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
}
