.table-img-title {
  font-family: "Hatton";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.single-table {
  background: rgba(255, 238, 223, 0.5);
  /* border-radius: 10px; */
}

.single-table-font {
  font-family: "Mulish";
  font-style: normal;
  /* font-weight: 400; */
  text-align: left;
  /* font-size: 18px; */
  line-height: 23px;
  color: #000000;
}
